
<div class="main-container">
   <div class="navbar">
      <ul class="nav">
         <li routerLink="/index">
            <i class="fab fa-ethereum fa-2x"></i>
            <div>Profile</div>
         <li routerLink="/data">
            <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
            <div>Data</div>
         </li>
         <li routerLink="/sensors">
            <i class="fa fa-thermometer-empty fa-2x" aria-hidden="true"></i>
            <div>Sensors</div>
         </li>
         <li class="bottom-button" routerLink="/settings">
            <i class="fa fa-gear fa-2x" aria-hidden="true"></i>
            <div>Settings</div>
         </li>
      </ul>
   </div>
   <div class="main">
      <router-outlet></router-outlet>
   </div>
</div>
