.left{
   margin-right: auto;
   margin-left: -2px;
}
.data-label{
   font-size: 16px;
   margin-right: 8px;
   margin-top: auto;
   margin-bottom: auto;
}
#data-value{
   width: 80px;
   text-align: center;
}
